{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block extra-css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="row row-centered">
    <div class="col-md-8 col-md-offset-2 text-center">
    	<h1 class="page-header">Log in to ServiceSearch</h1>

    	{% if bad_password %}
    	<div class="alert alert-danger" role="alert">
			<span class="sr-only">Error:</span>
			Enter a valid email and password
		</div>
    	{% endif %}

        <div class="col-md-6 col-md-offset-3 col-centered">
		<form id="login_form" method="post" action=".">
            {% csrf_token %}
            
            {% for field in auth_form.visible_fields %}
            <div class="form-group">
                <label for="{{field.id_for_label}}" class="control-label">{{ field.label }}</label>
                {% render_field field class+='form-control' %}
                <span class="help-block">{{ field.help_text }}</span>
            </div>
            {% endfor %}

            <button type="submit" class="btn btn-brand navbar-btn">Log in</button>
        </form>
        <p><a href="{% url 'register'%}">Register a free account.</a></p>
        </div>
    </div>
</div>
{% endblock %}